html{
    scroll-behavior:smooth;
}
body{
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    background-color: #f8fff8;
}

header{
    background-color: palevioletred;
    padding: 1rem;
    text-align: center;
    position: static;
}

.main-site-container{
    display: flex;
    justify-content: center;
}
.main {
    width: 50%;
}
.sidebar{
    position: -webkit-sticky;
    position: sticky;
    margin-top: 2rem;
    top:0;
    height:max-content;
    border-radius: 4px;
    

}
.sidebar li{
    padding: 0.4rem;
    color: grey;
    opacity: 0.5;
    list-style:square;
}


.sidebar li a{
    text-decoration:none;
    color: grey;
}
.sidebar li:hover a{
    text-decoration:underline;
}

.blog-post{
    background-color: #ffffff;
    margin: 2rem 0 2rem 1rem;
    padding:1.5rem;
    border-radius: 4px;
    filter: drop-shadow(0.3rem 0.3rem 0.19rem rgba(0, 0, 0, 0.5));
}

#site20220706image{
    width: 100%;
    height: auto;
    cursor: pointer;
}
#post2-darken-screen img{
    margin: auto;
    display: flex;
    width: 90%;
    height: auto;
}
#elevatormnemonic{
    float: right;
    margin: 0.8rem;
}
.screen-darken {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9);
    cursor: pointer;
}


@media (max-width: 550px){
    .sidebar{
        display: none;
    }
    .main {
        width: 100%;
    }
}



#wip-post{
    background-image: url(../images/bannerjustjoshuasjapanese.jpg);
    background-size: cover;
}