body{
    margin: 0;
}

header{
    background-color: palevioletred;
    padding: 1rem;
    width: 100%;
    text-align: center;
    
}

.main-site-container{
    display: flex;
    background-color: aqua;
    justify-content: center;
}

.sidebar{
    border-style: ridge;
}
.sidebar:hover{
    border-style: inset;
}

.blog-post{
    margin-bottom: 1rem;
    background-color: grey;
}
.main {
    width: 50%;
}

.blog-post{
    padding:1rem;
}
.blog-post img{
    width: 100%;
    height: auto;
}