header{
    background-color: palevioletred;
    padding: 1rem;
}

.main_container{
    display: flex;
}

.sidebar{
    background-color: blue;
}

.blog-post{
    margin-top: 1rem;
    background-color: grey;
}